* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #fcfcfc SFCFC;
}
body {
  margin: 0;
}
header {
  height: 100px;
  top: 0;
  position: fixed;
  width: 100%;
}
main {
  padding: 100px 20px 20px 20px;
  min-height: calc(100vh - 80px);
}
footer {
  height: 80px;
}
header .header-border {
  height: 6px;
}
header .header-content {
  height: calc(100% - 6px);
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
  font-weight: 400;
}
header h1 a {
  color: #3d7f7a;
  letter-spacing: 2px;
}
header h1 a:hover {
  color: #316662;
  text-decoration: none;
}
header ul {
  text-align: right;
  display: inline-block;
}
header ul li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header ul li + li {
  margin-left: 40px;
}
footer {
  color: #fff;
  padding: 20px;
}
footer div + div {
  margin-top: 5px;
}
footer a {
  color: #c6c1ae;
}
footer a:hover {
  color: #d1cdbe;
}
* {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Merriweather', serif;
}
h1 > *,
h2 > *,
h3 > *,
h4 > * {
  font-family: 'Merriweather', serif;
}
a {
  text-decoration: none;
  color: #7b7656;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #625e45;
}
.gradient {
  background: #61b1a9;
  background: -webkit-linear-gradient(left top, #373b44, #61b1a9);
  background: -o-linear-gradient(bottom right, #373b44, #61b1a9);
  background: -moz-linear-gradient(bottom right, #373b44, #61b1a9);
  background: linear-gradient(to bottom right, #373b44, #61b1a9);
}
